:root {
    --branding-color: #F2F1EB;
    --button-color: #6b8a70;
    --heading-font-family: "Vollkorn", serif;
    --default-font-family: "Poppins", serif;
}

.navbar {
    background-color: white;
    
}

.navbar a {
    color: black;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: black;
    font-weight: bold;
}


.hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 160px 20px;
}



.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: bold;
    line-height: 1.5;
}

.hero  h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    
}

 .hero .btn-branding {
    font-family: var(--default-font-family);
    color: white;
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
}

.hero .btn-branding:hover {
    font-family: var(--default-font-family);
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
}

.content-container  {
    background-color: white;
    text-align: left;
    padding: 160px 20px;
}



.content-container  h1 {
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: bold;
    line-height: 1.0;   
}

.content-container  h2 {
    padding-top: 0px;
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 18px;
}

.content-container h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    margin: 20px 0px 0px 0px;
}

 .content-container
  .paragraph {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
}

 .content-container
  .btn-branding {
    color: white;
    font-family: var(--default-font-family);
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
}

.content-container  .btn-branding :hover {
    color: black;
    transition: 200ms ease-in-out;
}

.content-container  img {
    border-radius: 10px;
    max-height: 500px;

}

.content-container  {
    margin: 30px;
    text-align: center;
}

.projects-h1 {
    text-align: center;
}

.container .projects h2 {
    font-size: 40px;
    font-weight: 600;
}

.container .projects p {
    line-height: 30px;
}

.container .product-description {
    padding: 120px 30px;
}

.container .btn-branding-outline {
    color: black;
    border: 1px solid var(--button-color);
    background-color: white;
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
    font-size: 18px;
}

.container .btn-branding-outline:hover {
    background-color: #6b8a70;
    color: white;
}

footer {
    margin: 60px 0;
}

footer h4 {
    font-size: 48px;
}

footer .contact-box {
    background: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

footer .contact-box .btn-branding {
    font-family: var(--default-font-family);
    color: white;
    margin-top: 30px;
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 150ms ease-in-out;
}

footer .contact-box .btn-branding:hover {
    font-family: var(--default-font-family);
    color: black;
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: var(--button-color);
}

footer .social-links a {
margin: 0 10px;
color: var(--button-color);
background-color: var(--branding-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--branding-color);
    background-color: var(--button-color);
} 

@media (max-width: 960px) {
    .hero h1 {
        font-size: 44px;
        line-height: 1.5;
    }
    .hero {
        padding: 80px 20px;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }
    .content-container h1 {
        font-family: var(--heading-font-family);
        padding-top: 30px;
        font-size: 52px;
        font-weight: bold;
        line-height: 1.0;  
    }
    .content-container h2 {
        padding-top: 10px;
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 22px;
    }
    .container .product-description h2 {
        font-size: 44px;
    }
   .container .product-description{
        padding: 0;
        text-align: center;
    }

    .projects {
        margin: 0 auto;
    }
    .projects h1 {
        font-size: 44px;

    }

    footer .contact-box {
        padding: 30px;
    }

    footer .contact-box p {
        font-size: 14px;
    }

    footer .contact-box .btn {
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 10px;
    
    }

    footer h4 {
        font-size: 18px;
        margin-top: 10px;
    }
}