:root {
    --branding-color: #F2F1EB;
    --button-color: #6b8a70;
    --heading-font-family: "Vollkorn", serif;
    --default-font-family: "Poppins", serif;
}

.navbar {
    background-color: var(--branding-color);
    
}

.navbar a {
    color: black;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: black;
    font-weight: bold;
}


.hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h1 {
    
    font-size: 96px;
    font-weight: bold;
}

.hero h2 {
    font-family: "Poppins", serif;
    font-weight: normal;
    font-size: 24px;
}

.hero .btn-branding {
    font-family: var(--default-font-family);
    font-size: 18px;
    background-color: var(--button-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
}
